// Plone 5 Styles

// get Plone variables
@import url("https://raw.githubusercontent.com/plone/Products.CMFPlone/master/Products/CMFPlone/static/patterns/toolbar/src/css/variables.less");
@import url("https://raw.githubusercontent.com/plone/plonetheme.barceloneta/master/plonetheme/barceloneta/theme/less/variables.plone.less");

@font-face {
  font-family: 'cart';
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910');
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910#iefix') format('embedded-opentype'),
       url('++resource++bda.plone.cart.font/font/cart.woff2?73721910') format('woff2'),
       url('++resource++bda.plone.cart.font/font/cart.woff?73721910') format('woff'),
       url('++resource++bda.plone.cart.font/font/cart.ttf?73721910') format('truetype'),
       url('++resource++bda.plone.cart.font/font/cart.svg?73721910#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cart-icon"]:before, [class*=" cart-icon"]:before {
  font-family: "cart";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
   text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

/* general styles */
.cart_item_alert {
    color:red;
    font-weight: normal;
}

/* cart styles */
.cart_item_title {
}
.cart_item_content {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0;
    text-align: right;
    input[type="text"] {
        display: inline-block;
        width: unset;
        margin-right: 0.25em;
    }
}
// .icon-arrows-ccw:before { content: '\e800'; } /* '' */

.cart-icon {
  font-family: 'cart';
  font-size: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  margin-left: 0.25em;
  &:hover {
    text-decoration: none;
  }
}
a.update_cart_action {
  &:before {
    content: '\e801';
  }
}
a.remove_from_cart_action {
  margin-left: 0;
  &:before {
    content: '\e80a';
  }
}

.cart_item_preview_image {
  float: right;
  margin-left: 1em;
}


/* cart summary styles */
.summary_item {
      padding-top: @plone-padding-large-vertical;
      padding-bottom: @plone-padding-large-vertical;
      border-bottom: @plone-border-base @plone-page-header-border-color;
  ul.cart_item_content {
      list-style-type:none !important;
      // text-align:right;
      margin: 0!important;
  }
  ul.cart_item_content li {
      display:inline-block !important;
      // padding-left: 0.5em;
      span {
        display: inline-block;
      }
  }
  a:hover {
    border: none;
    text-decoration: none;
  }
  // .summary_item .price {
  //     width: 7em;
  //     display: inline-block;
  // }
  // .summary_item input.cart_item_count,
  // .portletCart input.cart_item_count {
  //     margin-right: 0.1em;
  // }
  // .summary_item span.cart_item_quantity_unit {
  //     margin-right: 0.5em;
  // }
  // .summary_item a.update_cart_action,
  // .summary_item a.remove_from_cart_action {
  //     float:none;
  // }
}
// .summary_wrapper {
//     text-align:right;
// }
#cart_summary .cart_sum_content.invisible-grid {
  width: 100%;
  // float: right;
  text-align: right;
  margin-top: 1em;
  td {
    padding-left: 0.25em;
  }
  td.summary_label {
    width: 95%;
  }
  td.summary_ammount {
    padding-left: 1em;
  }
}
.shipping_info {
  max-width: 400px;
  display: inline-block;
}
#cart_summary .cart_sum_content {
}
.cart_summary_buttons {
  text-align: right;
  .cart_back {
    float: left;
  }
}
ul#cart_items {
  list-style-type: none;
  padding: 0;
  .cart_item_preview_image {
    float: none;
    margin-left: 0;
    vertical-align: text-bottom;
    }
  .cart_item_preview_wrapper:hover {
    text-decoration: none;
    border: none;
  }

  h3 {
    font-size: @plone-font-size-base;
    margin-top: 0.5em;
  }
}

#cart_viewlet {
  float: right;
  position: relative;
}
#portlet-cart,
#cart_viewlet {
  .cart_item {
    border-bottom: @plone-border-base @plone-page-header-border-color;
    padding-bottom: 0.25em;
    margin-bottom: 0.75em;
  }
  .cart_item_content {
    text-align: left;
    .cart_item_count {
      height: unset;
      padding: 0em 0.25em;
      text-align: right;
    }
  }
  .cart_item_price_wrapper {
    text-align: right;
  }
  .cart_viewlet_actions,
  .portletFooter {
    text-align: center;
  }
  #cart_viewlet_summery {
      display: block;
      padding: 0 0.5em;
  }
  #cart_viewlet_summery a {
      margin-top: 5px;
      float: right;
      background: url('++resource++bda.plone.cart.images/cart_go.png') 3px 2px no-repeat;
      position: relative;
      z-index: 10;
      top: 0px;
      right: 0px;
  }
  #cart_viewlet_details {
      display:none;
      position:absolute;
      right: 0;
      z-index: 1;
      background-color:#fff;
      padding:1em;
      margin-top: 2em;
      border: 1px solid #e5e5e5;;
      border-radius:0.25em;
      min-width:260px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }
  #cart_viewlet_details #cart_summary {
      // border-top:#ccc 1px solid;
      // margin-top:1em;
      // padding-top:1em;
  }
  .cart_viewlet_actions {
      text-align:center;
      // border-top:#ccc 1px solid;
      // margin-top:1em;
      // padding-top:1em;
  }

}

.checkout_cart_overview .cart_item {
  margin-bottom: 1em;
}

/* cart status message */
.cart_status_message {
    display:block;
    position:absolute;
    margin-top: -6em;
    margin-right: 10em;
    z-index:1000;
    border:#cccccc 1px solid;
    border-radius:3px;
    background-color:#efefef;
    color:#222222;
    padding:5px;
    font-size:80%;
    font-weight:bold;
}
/* cart summary styles */
.summary_item {
    padding-top:1.2em;
    padding-bottom:0.6em;
    border-bottom:#ccc 1px solid;
}
.summary_item ul.cart_item_content {
    list-style-type:none !important;
    text-align:right;
    margin: 0!important;
    float: right;
}
.summary_item ul.cart_item_content li {
    display:inline !important;
    padding-left: 0.5em;
}
.summary_item .price {
    width: 7em;
    display: inline-block;
}
.summary_item input.cart_item_count,
.portletCart input.cart_item_count {
    margin-right: 0.1em;
}
.summary_item span.cart_item_quantity_unit {
    margin-right: 0.5em;
}
.summary_item a.update_cart_action,
.summary_item a.remove_from_cart_action {
    float:none;
}
.summary_wrapper {
    text-align:right;
}
.cart_sum_content {
  float: right;
}
.cart_sum_content td {
  text-align: right;
  padding-left: 1em;
}
.cart_summary_buttons {
    text-align:right;
    padding-top:1.2em;
}
.cart_summary_buttons a:link,
.cart_summary_buttons a:active,
.cart_summary_buttons a:hover,
.cart_summary_buttons a:visited {
    background-color:#75ad0a;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    display:inline-block;
    padding: 0.3em 0.75em;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
}
.cart_summary_buttons a:hover {
    background-color:#eeeeee;
    color:#75ad0a !important;
}
.portletCart .lastItem {
    text-align:center;
}
img.cart_item_preview_image {
    float:right;
    margin-left:0.5em;
}


.context.cart_checkout_button:after {
  font-family: 'cart';
  content: '\e812';
  margin-left: 0.5em;
}

.standalone.cart_back:before {
  font-family: 'cart';
  content: '\e811';
  margin-right: 0.5em;
}

.context.buyable_add_to_cart:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}

.context.buyable_update_cart:before {
  font-family: 'cart';
  content: '\e801';
  margin-right: 0.5em;
}

.context.go_to_cart_action:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}


