/* general styles */
div.cart_item_alert {
    color:red;
    font-weight:bold;
}
/* cart styles */
.cart_item_title {
}
.cart_item_content {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
a.go_to_cart_action:link,
a.go_to_cart_action:active,
a.go_to_cart_action:hover,
a.go_to_cart_action:visited {
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    display: inline-block;
    padding: 0.3em 0.75em 0.3em 2.75em;
    text-decoration:none;
    cursor:pointer;
    background:#75ad0a url('/++resource++bda.plone.cart.images/cart_go.png') 7px center no-repeat;
}
a.go_to_cart_action:hover {
    background-color:#eeeeee;
    color:#75ad0a !important;
}
a.update_cart_action {
    margin-left: 0.6em;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-decoration:none;
    border-bottom: none!important;
    float:right;
    cursor:pointer;
    background:url('/++resource++bda.plone.cart.images/arrow_refresh.png') 50% 50% no-repeat;
}
a.remove_from_cart_action {
    display: inline-block;
    width: 24px;
    height:  24px;
    text-decoration:none;
    border-bottom: none!important;
    float:right;
    cursor:pointer;
    background:url('/++resource++bda.plone.cart.images/delete.png') 50% 50% no-repeat;
}
/* cart summary styles */
.summary_item {
    padding-top:1.2em;
    padding-bottom:0.6em;
    border-bottom:#ccc 1px solid;
}
.summary_item ul.cart_item_content {
    list-style-type:none !important;
    text-align:right;
    margin: 0!important;
    float: right;
}
.summary_item ul.cart_item_content li {
    display:inline !important;
    padding-left: 0.5em;
}
.summary_item .price {
    width: 7em;
    display: inline-block;
}
.summary_item input.cart_item_count,
.portletCart input.cart_item_count {
    margin-right: 0.1em;
}
.summary_item span.cart_item_quantity_unit {
    margin-right: 0.5em;
}
.summary_item a.update_cart_action,
.summary_item a.remove_from_cart_action {
    float:none;
}
.summary_wrapper {
    text-align:right;
}
.cart_sum_content {
  float: right;
}
.cart_sum_content td {
  text-align: right;
  padding-left: 1em;
}
.cart_summary_buttons {
    text-align:right;
    padding-top:1.2em;
}
.cart_summary_buttons a:link,
.cart_summary_buttons a:active,
.cart_summary_buttons a:hover,
.cart_summary_buttons a:visited {
    background-color:#75ad0a;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    display:inline-block;
    padding: 0.3em 0.75em;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
}
.cart_summary_buttons a:hover {
    background-color:#eeeeee;
    color:#75ad0a !important;
}
.portletCart .lastItem {
  text-align: center;
}
